@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1000vh;
    --Navy: #202A44;
    --DarkNavy: #0a0d16;
    --EmeraldGreen: #009B77;
    --PrimaryText: rgba(255, 255, 255, 0.897);
    --SecondaryText: #c8ccc5;
    background-color: var(--Navy);
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
.Logo{
    padding: 10px 21.5px;
    display: flex;
    align-items: center;
}
.Logo h2{
    
    justify-content: center;
    margin: 20px;
    color: var(--SecondaryText);
}
nav
{
    position: fixed;
    top: 5vh;
    left: 38.5vw;
    width: auto;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
}

nav a
{
    position: relative;
    width: auto;
    display: table-cell;
    text-align: center;
    color: var(--SecondaryText);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.15s;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:hover
{
    color: var(--EmeraldGreen);
    transform: scale(1.1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: var(--EmeraldGreen);
    transform: scale(1.1);
}
nav a:nth-child(2):hover ~ #indicator
{
    left: 25%;
    background: var(--EmeraldGreen);
    transform: scale(1.1);
}
nav a:nth-child(3):hover ~ #indicator
{
    left: 48%;
    background: var(--EmeraldGreen);
    transform: scale(1.1);
}
nav a:nth-child(4):hover ~ #indicator
{
    left: 80%;
    background: var(--EmeraldGreen);
    transform: scale(1.1);
}


.SocialNav{
    height: 30vh;
    width: auto;
    position: fixed;
    bottom: 0%;
}
#fix{
    padding-left: 2px;
    padding-right: 2px;
}
.SocialList{
    list-style-type: none;
}
.SocialList i{
    margin-bottom: 5vh;
    color: var(--SecondaryText);
    transition: 0.15s;
}
.SocialList i:hover{
    color: var(--EmeraldGreen);
    transform: scale(1.15);
}

.Home{
    width: auto;
    text-align: center;
}
.Home h1{
    padding-top: 5vw;
    padding-bottom: 48vh;
    font-size: 8vw;
    color: var(--EmeraldGreen);
    text-shadow: 10px 10px var(--DarkNavy);
}
.arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 90%;
    left: 50%;
    transform: translate(-25%,-25%);
}
.arrow span{
    margin-left: 13px;
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid var(--EmeraldGreen);
    border-right: 3px solid var(--EmeraldGreen);
    transform: rotate(45deg);
    animation: animate 1.5s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
.arrow2{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 197%;
    left: 50%;
    transform: translate(-25%,-25%);
}
.arrow2 span{
    margin-left: 13px;
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid var(--EmeraldGreen);
    border-right: 3px solid var(--EmeraldGreen);
    transform: rotate(45deg);
    animation: animate 1.5s infinite;
}
.arrow2 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow2 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
.about{
    width: auto;
}
.Header{
    text-align: center;
    padding-top: 5vw;
    font-size: 4vw;
    color: var(--EmeraldGreen);
    text-shadow: 5px 5px var(--DarkNavy);
}
.aboutDesc{
    padding-left: 17vw;
    padding-right: 17vw;
}
.aboutDesc h1{
    margin-top: -2.5vw;
    font-size: 4vw;
    color: var(--EmeraldGreen);
    text-shadow: 5px 5px var(--DarkNavy);
}
.aboutDesc h3{
    font-size: 2vw;
    color: var(--SecondaryText);
}
.aboutDesc span{
    color: var(--EmeraldGreen);
    text-shadow: 3px 3px var(--DarkNavy);
}
.aboutDesc h4{
    font-size: 1.25vw;
    color: var(--SecondaryText);
    padding-bottom: 10vw;
}
.aboutDesc h2{
    font-size: 2.5vw;
    color: var(--EmeraldGreen);
    text-shadow: 5px 5px var(--DarkNavy);
}
.Header{
    text-align: center;
    padding-top: 5vw;
    font-size: 4vw;
    color: var(--EmeraldGreen);
    text-shadow: 5px 5px var(--DarkNavy);
}