html body {
    width: auto;
    height: auto;
    background: #ffffff;
    font-family: 'Titillium Web', sans-serif;  
}
.container{
    position: relative;
    width: auto;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}
.navmenu{
    position: relative;
    overflow: hidden;
    height: 50px;
}
.navmenu a {
    float: left;
    color: #2e8b57;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
.navmenuRight{
    float: right;
    
}
.logo{
    position: relative;
    padding-top: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.namedesign{
    position: relative;
    padding-top: 50px;
}
.namedesign h1{
    font-size: 100px;
    text-align: center;
    color: #2e8b57;
    margin-bottom: 0%;
}
.namedesign p{
    margin-top: 0%;
    font-size: 25px;
    text-align: center;
    color: #121212;
}
.Home{
    position: relative;
    width: auto;
    height: 350px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 225px;
    text-align: center;
}
.Home span{
    color:#2e8b57;
}
.Home h1{
    color: #121212;
    padding-top: 50px;
    text-align: center;
}
.ProfileImg{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.Home img{
    max-width: 25%;
    min-width: 10%;
    height: auto;
}
.Portfolio{
    position: relative;
    width: 960px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#PortfolioText{
    position: relative;
    font-size: 50px;
    text-align: center;
    color: #121212;
}
.PortfolioCard img{
    position: relative;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.PortfolioCard{
    position: relative;
    height: 350px;
    padding-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    width: 300px;
    background: #fff;
    text-align: center;
    float: left;
    margin: 10px;
}
.projectDesc h4{
    position: relative;
    color: #2e8b57;
    font-size: large;
}
#SkillsText{
    position: relative;
    font-size: 50px;
    text-align: center;
    color: #121212;
}
.Skills{
    position: relative;
    width: auto;
    height: 800px;
}
.Skills h2{
    position: relative;
    color:#121212;
    font-size: 20px;

}
.Skillset{
    position: relative;
    float: right;
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 100px;
    margin-bottom: 50px;
}
.skill{
    background-color: #2e8b57;
    color: #121212;
    text-align: right;
    padding: 0.5%;
    font-size: 20px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); 
}
.java{
    width: 99%;
}
.javascript{
    width: 50%;
}
.html{
    width: 70%;
}
.css{
    width: 30%;
}
footer{
    width: 100%;
    height: 200px;
    text-align: center;
    color: black;
    background-color: #2e8b57;
    left: 0%;
    
    position:absolute;
}
.Socials img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    
}