:root{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    --bg-primary: #121212;
    --bg-secondary: #7c808d;
    --navbar-color: #212121;
    --text-primary: #50C878;
}
html, body{
    margin: 0%;
    padding: 0%;
    overflow-x:hidden;
    background-color: var(--bg-primary);
}
main{
    margin-left: 5rem;
    padding: 1rem;
}
body::-webkit-scrollbar {
    width: 0.25rem;
  }
body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
body::-webkit-scrollbar-thumb {
    background: #2e8b57;
    border-radius: 50px;
  }
.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--navbar-color);
    transition: 200ms ease-in;
}
.navbar-nav{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: var(--text-primary);
    filter:opacity(0.7);
    transition: 600ms;
}
#middlecomp{
    padding-left: 5px;
    width: 32px;
}
#skills{
    padding-left: 4px;
}
.nav-item:nth-last-child(2){
    margin-top: auto;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-primary);
    color:var(--text-primary)
}
.link-text{
    display: none;
    margin: 1rem;
}
.nav-link span{
    min-width: 2rem;
    margin: 0 1.25rem;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover .link-text{
    display: block;
}

.navlink img{
    min-width: 2rem;
    margin: 0 1.25rem;
    cursor: pointer;
}
#file{
    padding-left: 8px;
}
.logo{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--text-primary);
}
.logo span{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 0.45rem;
    transition: 600ms ease;
}
.logo h1{
    padding-top: 12px;
    font-size: 50px;
}

.namedesign{
    margin-top: 200px;
    position: relative;
}
.Home{
    position: relative;
    width: auto;
    height: 100%;
    text-align: center;
}
.Home span{
    color:#2e8b57;
}
.Home h1{
    padding-top: 200px;
    font-size: 100px;
    text-align: center;
    margin: 0%;
    color: var(--text-primary)
}
.Home h2{
    color: var(--text-primary);
    padding-top: 50px;
    text-align: center;
    
}
.Home img{
    padding: 10px;
    width: 30px;
    height: 30px;
}

